Name: Ashwin Raghavan
Student id:

# Task 1
## Implement Logistic Regression (Topic 2): regression (no hidden layers, one output node)
#### – In your Jupyter Notebook, implement a neural network approach to logistic
#### – Your code should follow the lectures notes to implement the algorithm from scratch
#### – Your notebook should include a brief description of the algorithm, relating it to your
code, and citations to any external sources that you used in your work
#### – Your code must handle different numbers of input features per training sample
and different number of input training samples, but you don't have to support
more than one binary output node

In [93]:
import pandas as pd
import numpy as np
import math
from sklearn.model_selection import train_test_split
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [94]:
df_blobs600 = pd.read_csv('blobs600.csv')
df_circle500 = pd.read_csv('circles500.csv')

In [95]:
df_blobs600
df_circle500

           X1        X2        X3  Class
0   -1.143933 -0.657411 -1.456612      0
1    1.407141  1.670068  0.957372      1
2    2.315992  1.045069  0.510005      1
3   -1.192037 -1.800893 -1.477463      0
4   -0.864688 -1.461246 -0.838396      0
..        ...       ...       ...    ...
595  0.627089  0.956263  0.903136      1
596  2.480739  1.277059  2.152853      1
597 -1.169939 -1.325037 -0.430643      0
598  1.586013  1.169103  0.928710      1
599 -1.248992 -0.325903 -0.443396      0

[600 rows x 4 columns]

           X0        X1  Class
0    0.180647  0.552945      1
1   -0.188674  0.325629      1
2    0.413742  0.931251      0
3   -0.199223  0.902665      0
4    0.488279 -0.341202      1
..        ...       ...    ...
495  0.532217 -0.008352      1
496 -0.143676  0.854655      0
497 -0.416100 -0.242321      1
498  0.936010 -0.337975      0
499  0.657437  0.831817      0

[500 rows x 3 columns]

In [96]:
df = df_blobs600.copy()
#df = df_circle500.copy()

In [97]:

df_train = df_blobs600.sample(frac=0.8, random_state=42)
df_test = df_blobs600.drop(columns=['Class'])

In [98]:
X = df_train.drop(columns=['Class'])
y = df_train['Class']

In [99]:
X
y

           X1        X2        X3
110  1.319498  0.543503  1.088413
419 -1.308124 -1.188536 -0.226063
565 -0.402954 -0.264576 -1.657633
77   2.833240  0.728648  0.835759
181 -0.514275 -0.933046 -1.032787
..        ...       ...       ...
358 -2.020147 -0.703628  0.388079
397  1.710375  0.145668  2.015059
254 -0.469632  0.937328  2.365330
217  1.683334  1.821063  0.816000
4   -0.864688 -1.461246 -0.838396

[480 rows x 3 columns]

110    1
419    0
565    0
77     1
181    0
      ..
358    0
397    1
254    1
217    1
4      0
Name: Class, Length: 480, dtype: int64

In [100]:
# Split training and testing data. Source: https://realpython.com/train-test-split-python-data/
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [101]:
X_train
X_test
y_train
y_test

           X1        X2        X3
323  1.610662  0.713122 -0.311671
318  2.828686  1.325719  2.131796
42  -0.577347 -1.725209 -0.670089
124  1.017126  0.974589  1.373016
114  0.959051  1.089626  0.690460
..        ...       ...       ...
481 -0.157530  1.524636  2.158008
69   1.383595  0.408084 -0.703013
148  0.930118  1.164611  0.858610
104  2.431126  1.170446  0.759210
528  2.213844  0.729736  1.328683

[384 rows x 3 columns]

           X1        X2        X3
234 -1.987791  0.025126 -1.566419
188 -0.944318 -1.460607 -1.127297
204  0.191658  0.977083  0.426797
190  0.176904 -0.660307 -0.807947
250  1.116729  0.400502  1.739267
..        ...       ...       ...
136 -0.274976 -0.964965 -0.667593
410  0.158279 -0.872512 -0.519368
281 -0.957779 -0.433450 -0.756135
240  1.919923  1.145821  0.771439
394  1.321056  2.038903 -0.064446

[96 rows x 3 columns]

323    1
318    1
42     0
124    1
114    1
      ..
481    1
69     1
148    1
104    1
528    1
Name: Class, Length: 384, dtype: int64

234    0
188    0
204    1
190    0
250    1
      ..
136    0
410    0
281    0
240    1
394    1
Name: Class, Length: 96, dtype: int64

In [102]:
### As described in the problem the number of features should be calcuated programatically. 
### which means that we need to cacluate equal number of weights. So for 2 features we will have to weights and for 3 features we will have 3 weights


features = [col for col in X.columns if col.lower().startswith('x')] 
feature_len = len(features)

In [103]:
def get_random(input):
    # Source : https://numpy.org/doc/stable/reference/random/generated/numpy.random.Generator.uniform.html
    rng = np.random.default_rng()
    return rng.uniform(0.01,0.05,input) # Generate number between 0.01 and 0.05

In [104]:
weights = get_random(feature_len)
bias = get_random(1)
print(features)
print(feature_len)
print(weights)
print(bias)

['X1', 'X2', 'X3']
3
[0.03117301 0.0346361  0.03809638]
[0.04436339]

In [105]:
# Define parameters
# Choose values for α, max_iterations, threshold, N
# Set w and b to a set of valid initial values (w is same size as x(i))
# Set stopping = False; J_running = 0; J_running_prev = 0; iteration = 0

alpha = 0.01
max_iterations = 5000
threshold = 0.5
N = len(X_train)
stopping = False
J_running = 0
J_running_prev = 0
iteration = 0

In [106]:

print(f"alpha = {alpha}, max_iterations = {max_iterations}, threshold = {threshold}, "
      f"N = {N}, stopping = {stopping}, J_running = {J_running}, "
      f"J_running_prev = {J_running_prev}, iteration = {iteration}")

alpha = 0.01, max_iterations = 5000, threshold = 0.5, N = 384, stopping = False, J_running = 0, J_running_prev = 0, iteration = 0

In [107]:
X_train.iloc[2]

X1   -0.577347
X2   -1.725209
X3   -0.670089
Name: 42, dtype: float64

In [108]:
def calculate_stochastic_gradint_descent_parameters(X_train, y_train, weights, bias):
    # Define parameters
    # Choose values for α, max_iterations, threshold, N
    # Set w and b to a set of valid initial values (w is same size as x(i))
    # Set stopping = False; J_running = 0; J_running_prev = 0; iteration = 0
    
    alpha = 0.01
    max_iterations = 5000
    threshold = 0.001
    N = len(X_train)
    stopping = False
    J_running = 0
    J_running_prev = 0
    iteration = 0
    while not stopping:
        # Select a single example from training set at random    
        idx = np.random.randint(0, N)
        x_i = X_train.iloc[idx]
        y_i = y_train.iloc[idx]    
        # Forward propagation stage
        # Calculate z   
        z = np.dot(x_i, weights) + bias # source: https://stackoverflow.com/questions/5919530/what-is-the-pythonic-way-to-calculate-dot-product
    
        # Calculate y_hat by applying sigmoid
        y_hat = 1 / (1 + np.exp(-z))
    
        # Calculate loss or J_current
        # from the lectures loss = - (y(i) * log(y_hat(i)) + (1 - y(i)) * log(1 - y_hat(i)))   
        y_hat = np.clip(y_hat, 1e-15, 1 - 1e-15)
        J_current = -(y_i * np.log(y_hat) + (1-y_i) * (np.log(1-y_hat)))
    
        
        
    
        #Calculate partial derivates. 
        # From the lecture we have to get the error that is, y_hat(i) - y(i)
        # After this we will calculate the partial derivatives as :
        # Delta w_j = (y_hat(i) - y(i)) * x_j(i)
        # Delta b   = (y_hat(i) - y(i))
        error = y_hat - y_i
        delta_w = error * x_i # gives us vector of delta weight one for each feature
        delta_b = error # Scalar value
        
        # Loop again over the j elements of w:
        # w_j -= alpha * delta_w
        # b   -= alpha * delta_b
        weights -= alpha * delta_w
        bias -= alpha * delta_b
    
        # Check stopping criteria
        iteration += 1
        J_running += J_current
      
        if iteration > max_iterations:
            stopping = True # Failed to converge
            print(f"Stopped: Reached max iterations ({iteration})")
            
        if (iteration % N) == 0: # Have done N iterations: test for convergence on the batch
            # Compare J_running with J_running_prev: if less than threshold, stopping = True    
            if (J_running - J_running_prev) < threshold:          
                stopping = True
                print(f"Stopped: Converged at iteration {iteration}. Cost diff: {J_running - J_running_prev}")
    
            # Set J_running_prev = J_running; J_running = 0
            J_running_prev = J_running
            J_running = 0

    return weights, bias

In [109]:
weights, bias = calculate_stochastic_gradint_descent_parameters(X_train, y_train, weights, bias)
print(f"Final Weights: {weights}")
print(f"Final Bias: {bias}")

Stopped: Converged at iteration 768. Cost diff: [-53.94523965]
Final Weights: X1    1.103310
X2    0.851689
X3    0.979535
Name: 194, dtype: float64
Final Bias: [0.0834389]

In [119]:
def test_stochastic_gradint_descent_parameters(X_test, y_test, weights, bias):   
    X_test['z(x)'] = X_test[features].dot(weights) + bias     
    
    # Apply Sigmoid to z(x)
    def sigmoid(z):
        return 1 / (1 + np.exp(-z))

    X_test['y_hat'] = X_test['z(x)'].apply(sigmoid) 

    def get_y_pred(y_hat):
        if y_hat >= 0.5: return 1

        return 0
    

    X_test['y_pred'] = X_test['y_hat'].apply(get_y_pred) 

    accuracy = np.mean( X_test['y_pred'] == y_test) # count the number of 1's. if everythign is correct then number 1s is equal to the number rows. mean of that is 100%
    print(f"Test Accuracy: {accuracy * 100:.2f}%")

In [121]:
test_stochastic_gradint_descent_parameters(X_test, y_test, weights, bias)

Test Accuracy: 100.00%

In [123]:
X_test
y_test

           X1        X2        X3      z(x)     y_hat  y_pred  y_Original
234 -1.987791  0.025126 -1.566419 -3.622674  0.026016       0           0
188 -0.944318 -1.460607 -1.127297 -3.306647  0.035344       0           0
204  0.191658  0.977083  0.426797  1.545131  0.824209       1           1
190  0.176904 -0.660307 -0.807947 -1.075170  0.254421       0           0
250  1.116729  0.400502  1.739267  3.360314  0.966441       1           1
..        ...       ...       ...       ...       ...     ...         ...
136 -0.274976 -0.964965 -0.667593 -1.695726  0.155024       0           0
410  0.158279 -0.872512 -0.519368 -0.993780  0.270166       0           0
281 -0.957779 -0.433450 -0.756135 -2.083113  0.110749       0           0
240  1.919923  1.145821  0.771439  3.933244  0.980796       1           1
394  1.321056  2.038903 -0.064446  3.214358  0.961371       1           1

[96 rows x 7 columns]

234    0
188    0
204    1
190    0
250    1
      ..
136    0
410    0
281    0
240    1
394    1
Name: Class, Length: 96, dtype: int64

In [125]:
X_test['y_Original'] = y_test # source: ˇhttps://www.datacamp.com/tutorial/joining-dataframes-pandas

In [127]:
X_test

           X1        X2        X3      z(x)     y_hat  y_pred  y_Original
234 -1.987791  0.025126 -1.566419 -3.622674  0.026016       0           0
188 -0.944318 -1.460607 -1.127297 -3.306647  0.035344       0           0
204  0.191658  0.977083  0.426797  1.545131  0.824209       1           1
190  0.176904 -0.660307 -0.807947 -1.075170  0.254421       0           0
250  1.116729  0.400502  1.739267  3.360314  0.966441       1           1
..        ...       ...       ...       ...       ...     ...         ...
136 -0.274976 -0.964965 -0.667593 -1.695726  0.155024       0           0
410  0.158279 -0.872512 -0.519368 -0.993780  0.270166       0           0
281 -0.957779 -0.433450 -0.756135 -2.083113  0.110749       0           0
240  1.919923  1.145821  0.771439  3.933244  0.980796       1           1
394  1.321056  2.038903 -0.064446  3.214358  0.961371       1           1

[96 rows x 7 columns]

In [129]:
# Task 2
# Test on df_blobs600

df = df_blobs600

In [131]:
X = df.drop(columns = ['Class'])
y = df['Class']

In [133]:
X
y

           X1        X2        X3
0   -1.143933 -0.657411 -1.456612
1    1.407141  1.670068  0.957372
2    2.315992  1.045069  0.510005
3   -1.192037 -1.800893 -1.477463
4   -0.864688 -1.461246 -0.838396
..        ...       ...       ...
595  0.627089  0.956263  0.903136
596  2.480739  1.277059  2.152853
597 -1.169939 -1.325037 -0.430643
598  1.586013  1.169103  0.928710
599 -1.248992 -0.325903 -0.443396

[600 rows x 3 columns]

0      0
1      1
2      1
3      0
4      0
      ..
595    1
596    1
597    0
598    1
599    0
Name: Class, Length: 600, dtype: int64

In [135]:
test_stochastic_gradint_descent_parameters(X, y, weights, bias)

Test Accuracy: 99.67%

In [139]:
X['Orignal_y'] = y

In [141]:
X

           X1        X2        X3      z(x)     y_hat  y_pred  Orignal_y
0   -1.143933 -0.657411 -1.456612 -3.165387  0.040489       0          0
1    1.407141  1.670068  0.957372  3.996110  0.981945       1          1
2    2.315992  1.045069  0.510005  4.028338  0.982508       1          1
3   -1.192037 -1.800893 -1.477463 -4.212776  0.014589       0          0
4   -0.864688 -1.461246 -0.838396 -2.936346  0.050386       0          0
..        ...       ...       ...       ...       ...     ...        ...
595  0.627089  0.956263  0.903136  2.474405  0.922328       1          1
596  2.480739  1.277059  2.152853  6.016917  0.997569       1          1
597 -1.169939 -1.325037 -0.430643 -2.757717  0.059652       0          0
598  1.586013  1.169103  0.928710  3.738720  0.976768       1          1
599 -1.248992 -0.325903 -0.443396 -2.006477  0.118525       0          0

[600 rows x 7 columns]

In [ ]:
# Task 3
# Implement a shallow neural network